<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>airAutomation</string>
	<key>CFBundleIdentifier</key>
	<string>airUI.pkg.MainDriver</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericApp.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>airUI.pkg.MainDriver</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/rxtx-2.2.jar</string>
			<string>$JAVAROOT/slf4j-api-1.7.7.jar</string>
			<string>$JAVAROOT/slf4j-jdk14-1.7.7.jar</string>
			<string>$JAVAROOT/slf4j-nop-1.7.7.jar</string>
			<string>$JAVAROOT/slf4j-simple-1.7.7.jar</string>
			<string>$JAVAROOT/xbjlib-1.0.1.jar</string>
			<string>$JAVAROOT/airAutomation.jar</string>
		</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
